@model IEnumerable<Part_008_DataAccessByEntityFramework.Models.Employee>
@using Part_008_DataAccessByEntityFramework.Models;

@{
    ViewBag.Title = "Index";
}

<div style="font-family:Arial;">
<h2>Employee List</h2>
    <ul>
        @foreach (Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "Details", new { id = employee.EmployeeID })
            </li>
        }
    </ul>
</div>

